doctype html 
html(lang="ko")
    head
        title #{pageTitle} | JHTUBE
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body 
        header
            if fakeUser.loggedIn
                small Hello #{fakeUser.username}!
            nav 
                ul 
                    if fakeUser.loggedIn
                        li 
                            a(href="/logout" ) Log out
                    else
                        li 
                            a(href="/login" ) Login

            h1=pageTitle
        main
            block content
            input(placeholder="입력하세요")
            include partials/footer.pug
