doctype html 
html(lang="ko")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{pageTitle} | JHTUBE
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body 
        header
            h1=pageTitle
            nav
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    if loggedIn
                    
                        li 
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href=`/users/${loggedInUser._id}`) My prifile
                        li  
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Logout
                                               
                    else
                        li 
                            a(href="/login") Login
                        li 
                            a(href="/join") Join
        main
            block content
            include partials/footer
