extends base.pug

block content 
    h4 Change Title of video.
    form(method="post")
        input(name="title",placeholder=video.title,value=video.title,required)
        input(value="저장",type="submit")