extends base.pug

block content 
    if errorMessage   
        //- 추후에 alert 로 사용하면 좋을듯?
        h2(style={color:'red'}) 다시 확인하여 주세요! #{errorMessage} 
    h3 hello from upload! 
    form(method="post")
        input(placeholder="영상의 제목을 입력하세요." name="title" required, type="text" maxlength=80)
        input(placeholder="영상의 설명을 간략하게 작성하세요" name="description" required, type="text" minlength=20)
        input(placeholder="해시태그를 ,이용하여 작성하여 주세요." name="hashtags" required, type="text")
        input(type="submit" value="Upload Video")