extends ../base

block content
    if errorMessage    
        span=errorMessage
    form(method="POST")
        input(placeholder="현재 비밀번호", type="password", name="oldPassword")
        input(placeholder="새 비밀번호를 작성하세요", type="password", name="newPassword")
        input(placeholder="새 비밀번호를 한번 더 입력하세요", type="password", name="newPasswordConfirmation")
        input(value="변경하기" type="submit")