extends ../base

block content  
    form(mehtod="POST")
        input(placeholder="현재 비밀번호")
        input(placeholder="새 비밀번호를 작성하세요")
        input(placeholder="새 비밀번호를 한번 더 입력하세요")
        input(value="변경하기" type="submit")